<div class="project card h-full">
    <div class="flex overflow-hidden flex-grow-1 flex-column h-full ">
        <div class="flex w-full align-content-center justify-content-center m-3">
            <div class="flex align-content-center justify-content-center">
                <div *ngIf="project" class="pad p-4 shadow-2 border-round surface-card">
                    <div class="text-center">
                        <h1 class="title"> Manage Project </h1>
                        <p class="header">Project Details</p>
                    </div>
                    <button class="box align-content-center">
                        <h1>{{ project.name }}</h1>
                        <h2 class="underline"> {{project.team?.name}}</h2>
                        <h4> Budget = {{project.budget }}</h4>
                        <h5 class="italic-p"> created by @{{project.team?.mgrUsername}}</h5>
                    </button>
                    <form class="mb-1">
                        <label class="w-full" for="projectName">Project Name</label>
                        <input pInputText class="w-full" [(ngModel)]="projectName" name="pName" type="text" placeholder={{project.name}}/>
                    </form>
                    <form class="mb-1">
                        <label class="w-full" for="teamName">Team</label>
                        <p-dropdown class="w-full" [options]="teams" [(ngModel)]="teamName" optionLabel="name"
                            [ngModelOptions]="{standalone: true}"></p-dropdown>
                    </form>
                    <form class="mb-1">
                        <label class="w-full" for="budget">Budget (to the nearest whole $)</label>
                        <input pInputText class="w-full" [(ngModel)]="budget" name="bud" type="text" placeholder={{project.budget}}/>
                    </form>
                    <p class="formWarning"> {{warningMsg}}</p>
                    <div class="text-center">
                        <input pButton type="button" value="Save Changes" class="button" (click)="checkInput()" />
                        <input pButton type="button" value="Delete Board" class="button" (click)="showConfirmation()" />
                        <p-dialog header="Manage Project" [(visible)]="displayConfirm" header="Delete Confirmation"
                            [(visible)]="displayConfirm" [style]="{ width: '50vw' }">
                            <h2 class="formWarning font-weight-bold"> Are you sure you want to delete the project?</h2>
                            <ng-template pTemplate="footer text-center">
                                <p-button class="p-4" icon="pi pi-check" (click)=delete() label="Yes" styleClass="p-button-text">
                                </p-button>
                                <p-button icon="pi pi-times" (click)="displayConfirm = false" label="No"></p-button>
                            </ng-template>

                        </p-dialog>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>