.createproject {
    background-color: rgba(59, 175, 240, 0.20);
} 

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: rgba(11, 109, 165, 0.72);
}

input {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
}

p-dropdown::ng-deep .p-dropdown.input,
p-dropdown::ng-deep .p-dropdown {
    width: 100% !important;
}

p-dropdown::ng-deep .p-dropdown {
    margin: 8px 0;
}

textarea {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
}

.button {
    border: 1px solid #2394D3;
    background-color: #3BAFF0;
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    cursor: pointer;

    color: white;
    font-size: 17px;
    font-weight: 550;
}

.button:active {
    background-color: #2394D3;
    transform: translateY(2px);
}