.projects {
    background-color: rgba(59, 175, 240, 0.20);
    height: 100vh;
}

.title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: rgba(11, 109, 165, 0.72);
    padding: 0px 25px;
}

.button {
    border: 1px solid #2394D3;
    background-color: #3BAFF0;
    box-sizing: border-box;
    width: 200px;
    height: 38px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    cursor: pointer;

    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: 550;
}

.button:active {
    background-color: #2394D3;
    transform: translateY(2px);
}

.box {
    width: 300px;
    // height: 200px;
    // border: 1px solid rgba(11, 109, 165, 0.72);
    border: 4px solid rgba(11, 109, 165, 0.72);
    background-color: white;
    cursor: pointer;
    color: #2394D3;
    text-align: left;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // margin-top: 30px;
    margin-left: 25px;
    padding-left: 15px;
    // margin-bottom: 60px;
}

.p.creator {
    font-weight: 100;
    font-style: italic;
}