<p-confirmDialog
  header="Error"
  icon="pi pi-exclamation-triangle"
  [rejectVisible]="false"
  [acceptVisible]="false"
></p-confirmDialog>

<p-dialog
  [(visible)]="task"
  [style]="{ width: '40vw', height: '80vw', color: 'black' }"
  (onHide)="onHide.emit()"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <div
      *ngIf="editTask && (editTask.editingName || creatingTask)"
      class="w-full"
      style="margin-right: 0.5rem"
    >
      <span class="p-inputgroup">
        <input
          pInputText
          type="text"
          class="w-full"
          [(ngModel)]="editTask.name"
          placeholder="Task Name"
        />
        <button
          *ngIf="editTask.editingName"
          type="button"
          pButton
          pRipple
          icon="pi pi-check"
          styleClass="p-button-success"
          (click)="editTask.editingName = false"
        ></button>
      </span>
    </div>
    <div
      *ngIf="!creatingTask && editTask && !editTask.editingName"
      (click)="editTask.editingName = true"
      style="cursor: pointer"
    >
      <h2>{{ editTask.name }}</h2>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      *ngIf="!creatingTask"
      pButton
      pRipple
      class="p-button-danger"
      label="Delete"
      icon="pi pi-times"
      [loading]="deleting"
      [disabled]="saving || deleting"
      (click)="deleteTask()"
      style="margin-right: 0.5rem"
    ></button>
    <button
      pButton
      pRipple
      label="{{ creatingTask ? 'Create' : 'Save' }}"
      icon="pi {{ creatingTask ? 'pi-check' : 'pi-save' }}"
      [loading]="saving"
      [disabled]="saving || deleting"
      (click)="creatingTask ? createTask() : saveTask()"
    ></button>
  </ng-template>
  <div *ngIf="editTask">
    <!-- DESCRIPTION -->
    <label>Description</label>
    <textarea
      pInputTextarea
      [(ngModel)]="editTask.description"
      style="min-height: 4rem"
      placeholder="Description here"
      [autoResize]="true"
      class="w-full"
      [rows]="2"
      [cols]="30"
    ></textarea>
    <!-- ASSIGNED USERS -->
    <label style="margin-top: 2rem">Assigned Users</label>
    <p-multiSelect
      [options]="teamUsers"
      [(ngModel)]="editTask.assignedUsers"
      optionLabel="fullName"
      optionValue="user"
      [dropdownIcon]="
        !teamUsers ? 'pi pi-spin pi-spinner' : 'pi pi-chevron-down'
      "
      class="w-full"
      appendTo="body"
    ></p-multiSelect>
    <!-- ASSIGNED USERS AVATARS -->
    <p-avatarGroup
      class="flex align-content-center mr-3"
      [style]="{ 'margin-top': '0.5rem' }"
    >
      <p-avatar
        *ngFor="let user of editTask.assignedUsers"
        label="{{ getInitials(user) }}"
        shape="circle"
        color="bg-blue-500"
      ></p-avatar>
    </p-avatarGroup>
    <div class="w-full">
      <div class="flex justify-content-between">
        <div style="width: 47%" *ngIf="isManager()">
          <!-- COMPLETION POINTS - MANAGER ONLY -->
          <span class="w-full">
            <label class="w-full">Completion Points</label>
          </span>
          <p-inputNumber
            [(ngModel)]="editTask.completionPoints"
            [min]="0"
            [showButtons]="true"
          ></p-inputNumber>
        </div>
        <!-- DISABLED IF NOT MANAGER -->
        <div [ngStyle]="{ width: isManager() ? '47%' : '100%' }">
          <!-- DEADLINE -->
          <div class="w-full">
            <label class="w-full">Deadline</label>
          </div>
          <p-calendar
            [(ngModel)]="editTask.deadline"
            [showButtonBar]="true"
            [showIcon]="true"
            [disabled]="!isManager()"
            appendTo="body"
          ></p-calendar>
        </div>
      </div>
    </div>
    <div></div>
    <div *ngIf="!creatingTask">
      <!-- CHECKLISTS -->
      <div style="margin-top: 1rem">
        <!-- NEW CHECKLIST -->
        <h4 style="margin-bottom: 0.5rem">Checklists</h4>
        <div class="flex">
          <div style="width: 33%">
            <button
              pButton
              class="p-button-outlined"
              label="New Checklist"
              icon="pi pi-plus"
              (click)="createChecklist()"
            ></button>
          </div>
          <div class="margin-left: 1rem">
            <span *ngIf="newChecklist" class="p-inputgroup">
              <input
                pInputText
                type="text"
                [(ngModel)]="newChecklist.title"
                placeholder="Checklist Title"
              />
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-check"
                styleClass="p-button-success"
                (click)="confirmNewChecklist()"
              ></button>
            </span>
          </div>
        </div>
        <!-- EXISTING CHECKLISTS -->
        <div *ngFor="let checklist of editTask.checklists">
          <!-- CHECKLIST TITLE -->
          <div class="flex">
            <h4
              *ngIf="!checklist.editingTitle"
              (click)="
                checklist.oldTitle = checklist.title;
                checklist.editingTitle = true
              "
              class="checklist-title"
            >
              {{ checklist.title }}
            </h4>
            <!-- CHECKLIST TITLE - EDIT MODE -->
            <span *ngIf="checklist.editingTitle" class="p-inputgroup">
              <input
                pInputText
                [(ngModel)]="checklist.title"
                placeholder="{{ checklist.oldTitle }}"
                style="margin-top: 1rem"
              />
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-check"
                styleClass="p-button-success"
                style="margin-top: 1rem"
                (click)="checklist.editingTitle = false"
              ></button>
            </span>
            <button
              pButton
              pRipple
              icon="pi pi-times"
              class="justify-self-end p-button-danger p-button-text"
              (click)="deleteChecklist(checklist)"
              style="padding: 0; padding-top: 0.75rem"
            ></button>
          </div>
          <!-- ADD ITEM BUTTON -->
          <button
            type="button"
            pButton
            pRipple
            label="Add Item"
            class="p-button-outlined"
            style="margin-bottom: 0.5rem"
            (click)="
              checklist.items?.push({
                id: -1,
                checklistId: checklist.id,
                description: 'Checklist Item ' + (checklist.items?.length! + 1),
                completed: false
              })
            "
          ></button>
          <!-- CHECKLIST ITEMS -->
          <div
            class="flex justify-content-start"
            *ngFor="let item of checklist.items"
          >
            <button
              pButton
              pRipple
              icon="pi pi-times"
              class="justify-self-end p-button-danger p-button-text"
              (click)="deleteChecklistItem(checklist, item)"
            ></button>
            <p-checkbox
              [(ngModel)]="item.completed"
              [binary]="true"
              class="w-full checklist-item"
              name="groupname"
            >
            </p-checkbox>
            <p
              *ngIf="!item.editing"
              (click)="
                item.oldDescription = item.description; item.editing = true
              "
            >
              {{ item.description }}
            </p>
            <textarea
              *ngIf="item.editing"
              pInputTextarea
              [(ngModel)]="item.description"
              style="min-height: 4rem"
              placeholder="Description here"
              [autoResize]="true"
              class="w-full"
              [rows]="2"
              [cols]="30"
            ></textarea>
            <button
              *ngIf="item.editing"
              pButton
              pRipple
              icon="pi pi-check"
              (click)="item.editing = false"
            ></button>
          </div>
        </div>
      </div>
      <h3>Comments</h3>
      <div class="flex">
        <div class="flex">
          <p-avatar label="{{ getInitials(user!) }}" shape="circle"></p-avatar>
        </div>
        <div class="flex flex-grow-1">
          <input
            pInputText
            id="comment-input"
            class="w-full"
            type="text"
            style="margin-left: 1rem"
            placeholder="Enter a new comment here..."
          />
        </div>
      </div>
      <div class="flex">
        <div class="flex">
          <p-avatar label="LB" shape="circle"></p-avatar>
        </div>
        <div class="flex align-content-end">
          <p class="m-0 align-self-end bold-1" style="padding-left: 1rem">
            Lauraine Baffot
          </p>
        </div>
      </div>
      <div class="flex m-2">
        <div class="flex surface-card shadow-2 border-round">
          <p style="margin: 1rem">This project sure is coming along nicely</p>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
