.homepage {
    background-color: rgba(59, 175, 240, 0.20);
}

input {
    width: 45%;
    box-sizing: border-box;
    margin-right: 30px;
}

.button {
    border: 1px solid #2394D3;
    background-color: #3BAFF0;
    box-sizing: border-box;
    width: 19%;
    height: 38px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    cursor: pointer;

    color: white;
    font-size: 17px;
    font-weight: 550;
}

.button:active {
    background-color: #2394D3;
    transform: translateY(2px);
}