<div id="navcard" class="card" *ngIf="showNav()">
  <!-- Fixed position so the nav bar scrolls down with the page -->
  <div
    class="flex w-100 h-4rem bg-primary border-round shadow-2"
    style="position: fixed"
    [ngStyle]="{ width: navWidth }"
  >
    <div
      class="flex align-items-center justify-content-center w-8rem h-full bg-blue-500 font-bold text-white border-round p-2"
    >
      <img src="../assets/images/icon/sparkles-48.png" />
    </div>
    <div
      class="flex align-items-center justify-content-center w-8rem h-full bg-blue-500 font-bold text-white border-round p-2"
    >
      <a href="/project/:project-id"
        ><button pButton class="bold-1" type="button" label="Projects"></button
      ></a>
    </div>
    <div
      class="flex flex-grow-1 align-items-center justify-content-end w-8rem h-full bg-blue-500 font-bold text-white border-round p-2"
    >
      <p-avatar icon="pi pi-user"></p-avatar>
      <div></div>
    </div>
  </div>
  <!-- This div creates empty space for the nav bar to sit -->
  <div class="flex w-100 h-4rem border-round"></div>
</div>

<router-outlet></router-outlet>
