// All a tags within the navcard div will not underline text
#navcard ::ng-deep {
  a {
    text-decoration: none;
  }
}

input[type="text"] {
  width: 20%;
  padding: 5px 20px;
  margin-right: 20px;
  box-sizing: border-box;
  background-color: #0b6da5;
  border: #3baff0;
  color: white;

  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="text"]:focus {
  border: 1px solid #3baff0;
}

input[type="text"]::placeholder {
  color: #ffffff;
}

.app-div {
  min-height: calc(100vh - 4rem);
  height: calc(100vh - 4rem);
  max-height: calc(100vh - 4rem);
  overflow: scroll;
}
